/speaker_diarization/youtube_datas/
/datas/Đừng_nói_khi_yêu/
/speaker_diarization/datas/raws/
/speaker_diarization/datas/
/speaker_diarization/nemo/ckpts/
/speaker_diarization/nemo/inputs/
/speaker_diarization/nemo/outputs/
/noises/
/speaker_diarization/nemo_experiments/
/speaker_diarization/nemo/temps/